<h2 class="subtitle">DOROBEK</h2>
<div class="dorobek">
  <h3>Działalność dydaktyczna</h3>
  <p>
    W Klinice Dermatologicznej Gdańskiego Uniwersytetu Medycznego
    prowadzę zajęcia dydaktyczne z zakresu dermatologii i alergologii
    (ćwiczenia, seminaria i wykłady) dla studentów IV i VI roku
    Wydziału Lekarskiego oraz IV roku Oddziału Stomatologii.
  </p>
  <p>
    Uczestniczę również aktywnie w szkoleniu podyplomowym,
    będąc kierownikiem specjalizacji lekarzy szkolących się w zakresie
    dermatologii i alergologii. Byłam również wielokrotnie członkiem
    komisji egzaminacyjnych specjalizacji z dermatologii. Jestem
    wykładowcą na kursach z zakresu dermatologii dziecięcej i
    alergologii odbywających się corocznie w naszej Klinice, a
    organizowanych przez CMPK w Warszawie dla lekarzy w trakcie
    specjalizacji z dermatologii i alergologii. Od 2004 roku
    prowadzę zajęcia na kursach: „Alergia na pokarmy i leki”,
    organizowanych przez Zakład Alergologii Pomorskiego
    Uniwersytetu Medycznego w Szczecinie.
  </p>
  <p>
    Wielokrotnie przedstawiałam również wykłady na posiedzeniach
    Towarzystwa Dermatologicznego i Alergologicznego, zarówno w
    oddziale gdańskim, jak również w olsztyńskim, bydgoskim,
    szczecińskim i białostockim.
    
  </p>
  <h3>Działalność naukowa</h3>
  <p>
    Moja działalność naukowa związana jest przede wszystkim z zagadnieniami
    alergologii dermatologicznej.
  </p>
  <p>
    W pierwszym okresie moje badania dotyczyły zagadnień alergii
    kontaktowej. Zainspirowana wcześniejszymi publikacjami ówczesnego
    kierownika Kliniki, Pana Profesora Henryka Szarmacha podjęłam się
    badań nad epidemiologią wyprysku kontaktowego oraz rolą alergenów
    kontaktowych w wywoływaniu tego schorzenia. Badania te zaowocowały
    licznymi publikacjami oraz doniesieniami zjazdowymi, a podsumowaniem
    badań w tym zakresie była rozprawa doktorska nt.” Alergia kontaktowa
    w makroregionie gdańskim”. W 1988 roku uzyskałam na jej podstawie
    stopień doktora nauk medycznych. Za pracę doktorską  otrzymałam
    nagrodę  III stopnia Rektora AM w Gdańsku. Moja praca doktorska
    została również wyróżniona przez Polskie Towarzystwo Alergologiczne,
    czego wyrazem było przyznanie mi dyplomu honorowego im. Prof. dr med.
    Mieczysława Obtułowicza.
  </p>
  <p>
    Od 1997 roku prowadziłam badania nad patomechanizmem pokrzywki
    przewlekłej. W ramach pracy naukowej W-116 („Reakcje pseudoalergiczne
    na wybrane substancje dodatkowe stosowane przez przemysł spożywczy:
    poszukiwanie rozwiązań służących poprawie możliwości rozpoznawania
    i leczenia przewlekłej pokrzywki”) prowadziłam badania diagnostyczne
    (testy in vivo i in vitro oraz próby prowokacji metodą podwójnie
    ślepej próby kontrolowanej placebo z użyciem aspiryny i substancji
    dodatkowych) u pacjentów z przewlekłą pokrzywką. Realizacja projektu
    pozwoliła na uzupełnienie obowiązującego w Polsce programu
    diagnostycznego przewlekłej pokrzywki o badania prowokacyjne,
    umożliwiające ocenę przyczynowej roli syntetycznych substancji
    dodatkowych stosowanych przez przemysł spożywczy. Wyniki uzyskanych
    tą drogą badań zaowocowały również licznymi publikacjami i doniesieniami
    zjazdowymi. Dowodem wysokiej rangi powyższych badań było opublikowanie
    ich wyników w monografii o zasięgu międzynarodowym pod redakcją
    profesora J. Ringa „New trends in Allergy”.
  </p>
  <p>
    Kolejnym kierunkiem moich badań naukowych jest diagnostyka
    niepożądanych reakcji polekowych. Od 1998 roku prowadzę badania,
    których celem jest poprawa możliwości diagnostycznych u pacjentów
    ze skórnymi odczynami polekowymi. W latach 2000-2002 byłam
    kierownikiem projektu naukowego W-949 nt. ”Diagnostyka skórnych
    odczynów polekowych ze szczególnym uwzględnieniem częstości
    występowania genotypu wolnej acetylacji”. W ramach realizacji
    programu badawczego prowadzona była diagnostyka alergologiczna in
    vivo u chorych ze skórną manifestacją niepożądanych reakcji
    polekowych (testy punktowe i naskórkowe) oraz ocena współzależności
    pomiędzy genotypami określającymi wolną acetylację a predyspozycją
    do występowania niepożądanych reakcji polekowych związanych z
    kumulacją i toksycznym działaniem leków. Badania częstości występowania
    genotypów NAT2 u chorych ze skórnymi odczynami polekowymi były
    wykonywane we współpracy z Katedrą Farmakologii Pomorskiej
    Akademii Medycznej.
  </p>
  <p>
    Aktualnie uczestniczę w badaniach obserwacyjnych KRAK2,
    koordynowanych przez profesora Uniwersytetu Jagiellońskiego,
    Radosława Śpiewaka, których celem jest diagnostyka częstości
    uczuleń na różne alergeny u pacjentów z kontaktowym zapaleniem skóry.
    
  </p>
  <h3>Najważniejsze publikacje:</h3>
  <h4>A. Monografie i podręczniki:</h4>
  <ol>
    <li>
      Kurek M. Grubska-Suchanek E.: Challenge tests with food
      additives and aspirin in the diagnostics of chronic urticaria.
      A case of immediate cutaneous hypersesitivity to sodium
      bisulphite (E-222) confirmed by patch testing.
      <br>Rozdział w monografii: New Trends in Allergy V (J.Ring, H.
      Behrendt red.), Springer-Verlag Berlin, Heidelberg 2002.
    </li>
    <li>
      Grubska-Suchanek E.: Zagrażające życiu odczyny polekowe w dermatologii.
      Zespół Lyella po karmazepinie
      <br>2 rozdziały w monografii: Stany nagłe w alergologii.
      Kurek M. (red)., MedicalTribume Group, Warszawa, 2004.
    </li>
  </ol>
  <h4>B. Prace oryginalne opublikowane w recenzowanych czasopismach krajowych i zagranicznych:</h4>
  <ol>
    <li>
      Grubska-Suchanek E., Filipiuk J., Kitowska G.: Retrospektywna
      ocena chorych na atopowe zapalenie skóry. Przegl. Dermatol.,
      1984, 4, 327-332.
    </li>
    <li>
      GrubskaSuchanek E., Paszkiewicz H., Szarmach H.:
      Alergia na chrom, nikiel i kobalt u chorych z wypryskiem kontaktowym
      w województwie gdańskim w latach 1979-1983. Przgl. Dermatol.,
      1985, 1, 37-42.
    </li>
    <li>
      Grubska-Suchanek E., Paszkiewicz H., Szarmach H.: Alergia kontaktowa na
      składniki gumy wśród chorych z wypryskiem kontaktowym w województwie
      gdańskim. Przegl. Dermatol., 1986, 1, 49-53.
    </li>
    <li>
      Szarmach H., Placek W., Grubska-Suchanek E., Grabias A.,
      Roszkiewicz J., Wilkowska A.: Przydatność badań immunomorfologicznych
      w różnicowaniu różnych postaci wyprysku i atopowego zapalenia skóry.
      Przegl. Dermatol., 1987, 74, 316.
    </li>
    <li>
      Placek W., Bąkowska A., Grubska-Suchanek E., Szarmach H.: Wyniki badań
      immunofluorescencynych skóry w różnych postaciach wyprysku.
      Immunol. Pol., 1987,12, 71-77.
    </li>
    <li>
      Grubska-Suchanek E.: Alergia kontaktowa w makroregionie gdańskim.
      Ann. Acad. Med. Gedan.,1989,19,59-69.
    </li>
    <li>
      Pawlik H., Grubska-Suchanek E., Wilkowska A.: Benzacne-żel
      5%, 10% w leczeniu trądzika. Terapia i leki, 1989, 39,17-24.
    </li>
    <li>
      Grubska-Suchanek E., Siedlewicz A., Szarmach H., Placek
      W.: Częstotliwość alergii kontaktowej u chorych z wypryskiem
      pieniążkowatym.  Przegl. Dermatol., 1990, 77, 259-262.
    </li>
    <li>
      Grubska-Suchanek E., Siedlewicz A., Szarmach H., Placek W.:
      Alergia kontaktowa w makroregionie gdańskim. Przegl. Dermatol.,
      1991, 78, 152-157.
    </li>
    <li>
      Grubska-Suchanek E., Szarmach H., Siedlewicz A.: Wyniki badań
      retestacyjnych u chorych uczulonych na nikiel. Przegl. Dermatol.,
      1991, 78, 157-160.
    </li>
    <li>
      Grubska-Suchanek E., Szarmach H: Uczulenie na terpentynę
      wśród chorych z wypryskiem kontktowym w makroregionie gdańskim.
      Przegl. Dermatol., 1991, 78, 96-102.
    </li>
    <li>
      Pawlik H., Grubska-Suchanek E., Wilkowska A., Nowicki R.,
      Szarmach H.: Ocena preparatu Benzacne żel 10% w leczeniu przewlekłych
      owrzodzeń skóry. Terapia i leki, 199, 41, 36-40.
    </li>
    <li>
      Szarmach H., Roszkiewicz J., Pawlik H., Grubska-Suchanek E.,
      Wilkowska A., Nowicki R.: Ocena preparatu Laticort CH.
      Terapia i leki, 1992, 42, 124-131.
    </li>
    <li>
      Nowicki R., Grubska-Suchanek E., Pawlik H., Wilkowska A.
      Szarmach H.: Wpływ środowiska pracy na występowanie zmian na
      skórze pracowników Zakładów Porcelany Stołowej. Medycyna Pracy, 1992,
      43, 422-425.
    </li>
    <li>
      Wilkowska A., Grubska-Suchanek E., Filipiuk J.,
      Szarmach H.: Osobliwości alergii kontaktowej u dzieci.
      Przegl.Dermatol., 1994, 3, 242-246.
    </li>
    <li>
      Wilkowska A., Nowicki R., Sadowska E., Grubska-Suchanek E.,
      Szarmach H.: Grzybica skóry u dzieci. Przegl. Dermatol., 1994, 1, 46-58.
    </li>
    <li>
      Grubska-Suchanek E., Smętek M., Wilkowska A., Szarmach H.:
      Alergia kontaktowa w makroregionie gdańskim w latach 1986-1993.
      Przegl. Dermatol., 1996, 83, 603-608.
    </li>
    <li>
      Wilkowska A., Grubska-Suchanek E., Karwacka I., Szarmach H.:
      Contact Allergy in Children. Cutis, 1996, 58, 176-180.
    </li>
    <li>
      Szarmach H., Placek W., Pawlik H., Roszkiewicz J., Zaucha M.,
      Grubska-Suchanek E., Wilkowska A.: Wyniki leczenia skórnych
      chłoniaków T komórkowych (CTCL). Przegl. Dermatol., 1996, 83, 493-497.
    </li>
    <li>
      Szczerkowska-Dobosz A., Roszkiewicz J., Krzyżanowska H.,
      Grubska-Suchanek E., Lange M.: Długoterminowe leczenie łuszczycy
      CyA (Sandimmun Neoral). Postępy Dermatologii, 1997, 14, 75-83.
    </li>
    <li>
      Kurek M., Grubska-Suchanek E., Wilkowska A.: Próby
      prowokacji syntetycznymi dodatkami spożywczymi i aspiryną w
      programie diagnostycznym przewlekłej pokrzywki. Alergia,
      Astma, Immunologia, 1998, 3, 239-242.
    </li>
    <li>
      Roszkiewicz J., Grubska-Suchanek E., Szczerkowska A.: Ocena skuteczności
      i bezpieczeństwa długoterminowego leczenia Cyklosporyną A łuszczycy. Przegl.
      Dermatol., 1999, 2, 159-163.
    </li>
    <li>
      Grubska-Suchanek E., Roszkiewicz J., Lange M.: Pyoderma gangraenosum –
      Wynik leczenia Cyklosporyną A (Sandimmun Neoral). Przeg. Dermatol., 1999,
      3, 263-268.
    </li>
    <li>
      Kurek M., Grubska-Suchanek E.: Challenge tests with food additives
      and aspirin in the diagnostics of chronic urticaria. Revue Francaise
      D’Allergologie et D’Immunologie Clinique,  1999, Numero Special.
    </li>
    <li>
      Grubska-Suchanek E.: Rola leukotrienów w chorobach zapalnych
      skóry. Przeg. Dermatol., 2000, 6, 533-538.
    </li>
    <li>
      Roszkiewicz J., Grubska-Suchanek E, Czubek M., Lange M.:
      Cyklosporyna A (Sandimmun Neoral) w chorobach naczyń o podłożu
      immunologiczym., Postępy Dermatol., 2000, 17, 69-75.
    </li>
    <li>
      Grubska-Suchanek E., Kurek M., Sankowski Z.: Rozpoznawanie
      pseudoalergicznych objawów nietolerancji syntetycznych dodatków
      spożywczych i farmakoaktywnych składników pożywienia. Nowa
      Klinika, 2000, 7, 409-413.
    </li>
    <li>
      Kurek M., Grubska-Suchanek E.: Challenge tests with food
      additives and aspirin in the diagnosis of chronic  urticaria.
      Rev. Fr. Allergol. Immunol. Clin., 2001,41, 463-469.
    </li>
    <li>
      Grubska-Suchanek E.: Skórne odczyny polekowe. Służba Zdrowia,
      2001, 17, 29-32.
    </li>
    <li>
      Grubska-Suchanek E., Witkowska A.: Eozynofil jako aktywna
      komórka procesu zapalnego. Medical Science Review, 2002, 1, 52-59.
    </li>
    <li>
      Witkowska A., Grubska-Suchanek E.: Zmiany skórne w idiopatycznym
      zespole eozynofilowym.Medical Science Review. 2002, 1, 60-62.
    </li>
    <li>
      Merk H.F., Kurek M., Grubska-Suchanek E.: Aspekty kliniczne
      alergii na leki. Alergia, 2002,1, 26-33.
    </li>
    <li>
      Grubska-Suchanek E.: Skin manifestations of adverse drug reactions.
      Alergia Astma Immunologia, 2002, vol.7, suppl.3, 39-45.
    </li>
    <li>
      Grubska-Suchanek E. Dermatozy polekowe. Polski Merkuriusz
      Lekarski, 2003, 84, 598-601
    </li>
    <li>
      Jankowski M., Grubska-Suchanek E., Ruszczyńska M., Roszkiewicz J.,
      Szczepańska-Konkel M.: Retrospektywna analiza występowania
      działań niepożądanych azatiopryny u pacjentów z autoimmunologicznymi
      chorobami skóry. Postępy Dermatologii i Alergologii, 2006, 3, 124-129
    </li>
    <li>
      Grubska-Suchanek E., Kurek M.: Czy leczenie atopowego zapalenia skóry
      szczepionkami alergenowymi ma sens?. Medycyna po dyplomie. 2006,
      8 supl.,26-29.
    </li>
    <li>
      Olszewska B, Malinowska A, Szczerkowska-Dobosz A, Biernat W,
      Grubska-Suchanek E, Nowicki R, Kozicka D: Zmiany skórne w przebiegu
      choroby Grovera klinicznie przypominające wyprysk – opis przypadku.
      Alergia, Astma, Immunologia, 2013, 18(1), 55-58.
    </li>
  </ol>
  <h4>C. Komunikaty zjazdowe i kongresowe.</h4>
  <ol>
    <li>
      Grubska-Suchanek E., Filipiuk J., Kitowska G.: Retrospektywna
      ocena chorych na atopowe zapalenie skóry. Postępy Dermatologii,
      1985, 2, 105-111.
    </li>
    <li>
      Grubska-Suchanek E., Paszkiewicz H., Szarmach H.: Alergia na chrom,
      nikiel i kobalt u chorych z wypryskiem kontaktowym w województwie
      gdańskim w latach 1979-1983. Sympozjum: Postępy alergologii i immunologii klinicznej.
      Kraków 28-30. 11. 1985. Streszczenia referatów, str. 54.
    </li>
    <li>
      Szarmach H., Placek W., Grubska-Suchanek E., Roszkiewicz J.,
      Poleska J., Grabias A.: Ocena histologiczna i immunohistochemiczna
      zmian skórnych w wyprysku. Sympozjum Postępy alergologii i immunologii
      klinicznej. Kraków 28-30. 11. 1985. Streszczenia referatów, str. 46.
    </li>
    <li>
      Szarmach H., Placek W., Roszkiewicz J., Pawlik H., Grabias A.,
      Grubska-Suchanek E., Sztaba-Kania M.: RePUVA w leczeniu łuszczycy. Badania kliniczne, morfologiczne, immunologiczne i biochemiczne. Pamiętnik Konferencji Naukowo-Szkoleniowej: Postępy w leczeniu łuszczycy ze szczególnym uwzględnieniem metod fotobiologicznych. Gdynia, 5-6 .05. 1986, str. 39-56.
    </li>
    <li>
      Grubska-Suchanek E., Szarmach H., Wilkowska A.: Porównanie
      częstości czynników uczulających u chorych z wypryskiem kontaktowym
      w latach 1961-965 i 1981-1990. Pamiętnik XXIV Zjazdu PTD, Gdańsk
      24-26. 09. 1992, str. 382-384.
    </li>
    <li>
      Grubska-Suchanek E., Szarmach H., Wilkowska A.: Częstość
      występowania atopii u chorych z wypryskiem kontaktowym. Pamiętnik
      XXIV Zjazdu PTD, Gdańsk 24-26. 09. 1992, str. 393-395.
    </li>
    <li>
      Stożkowska W., Pawlik H., Grubska-Suchanek E., Szarmach H.:
      Ocena in vivo wchłaniania srebra po miejscowym zastosowaniu
      Argosulfanu. Pamiętnik XXIV Zjazdu PTD, Gdańsk 24-26. 09. 1992,
      str. 785-786.
    </li>
    <li>
      Grubska-Suchanek E., Wilkowska A., Szarmach H.: Częstość
      występowania alergii zawodowej u chorych z wypryskiem kontaktowym
      w makroregionie gdańskim. Pamiętnik Sympozjum: „Choroby
      alergiczne i zawodowe skóry”, Gdańsk 24-25. 09. 1993, str. 44 -53.
    </li>
    <li>
      Wilkowska A., Grubska-Suchanek E., Filipiuk J., Szarmach H.:
      Alergia kontaktowa u dzieci. Pamiętnik Sympozjum: „Choroby
      alergiczne i zawodowe skóry”, Gdańsk 24-25. 09. 1993, str. 61-67.
    </li>
    <li>
      Szarmach H., Placek W., Pawlik H., Roszkiewicz J., Grubska-Suchanek
      E., Wilkowska A : Results of cutaneous lymphoma treatment.
      Pamiętnik: International Meeting Skin Therapy Update '94,
      Aghia Pelaghia, Crete, Greece, 14-17.10. 1994.
    </li>
    <li>
      Szarmach H., Grubska-Suchanek E., Smętek M., Wilkowska A.:
      Kontaktallergie in der Makroregion Gdańsk. Abstrakt-Band:
      38 Kongress der Deutschen Dermatologischen Gesellschaft
      Berlin, den 29 April bis 3 Mai 1995.
    </li>
    <li>
      Szarmach H., Placek W., Pawlik H., Roszkiewicz J., Wilkowska A.,
      Grubska-Suchanek E.: Chłoniaki złośliwe skóry w materiale
      Kliniki Dermatologicznej AMG. Abstracts : XXV Kongres Dermatologiczny,
      23-25. 06. 1995, str. 43.
    </li>
    <li>
      Grubska-Suchanek E., Smętek M., Wilkowska A., Szarmach H.,
      Roszkiewicz J.: Częstość uczuleń na alergeny zestawu standardowego
      u chorych z wypryskiem kontaktowym. Abstracts XXV Kongres
      Dermatologiczny, 23-25. 06. 1995, str. 105.
    </li>
    <li>
      Wilkowska A., Grubska-Suchanek E., Szarmach H.: Częstość
      alergii kontaktowej u dzieci z atopowym zapaleniem skóry.
      Abstracts XXV Kongres Dermatologiczny, 23-25. 1995, str. 299.
    </li>
    <li>
      Roszkiewicz J., Szczerkowska - Dobosz A., Krzyżanowska H.,
      Pawlik H., Grubska-Suchanek E.: Clinical experience with long-term
      therapy with cyclosporin in psoriasis vulgaris. Journal of the
      European Academy of Dermatology and Venerology, 1996, vol. 7,
      suppl., s. 195.
    </li>
    <li>
      Czubek M., Roszkiewicz J., Sztaba-Kania M., Grubska-Suchanek
      E.: Vasculitis allergica in Clinical and Immunological View,
      Journal of the European Academy of Dermatology and Venerology,
      1996, vol. 7, suppl., s. 201.
    </li>
    <li>
      Kurek M., Grubska-Suchanek E., Wilkowska A., Piotrowicz J.,
      Zachwieja Z.: Próby      prowokacji (DBPCFC) syntetycznymi
      dodatkami spożywczymi i aspiryną w programie diagnostycznym
      przewlekłej pokrzywki. : International Review of Allergology
      and Clinincal Immunology, vol.III, suppl.2, 1997, str.84.
    </li>
    <li>
      Grubska-Suchanek E.: Znaczenie prób naskórkowych w rozpoznawaniu
      alergii kontaktowej. Alergia, Astma, Immunologia., 1997, 2, 66.
    </li>
    <li>
      Roszkiewicz J., Szczerkowska-Dobosz A., Krzyżanowska H.,
      Grubska-Suchanek E., Pawlik H., Lange M.: Long-term safety
      and efficacy of cyclosporin in severe psoriasis. Abstracts of
      the 19-th World Congress of Dermatology. Australian Journal of
      Dermatology, 1997, 15-20 June, Sydney, Australia, str. 150.
    </li>
    <li>
      Roszkiewicz J., Szczerkowska-Dobosz A., Grubska-Suchanek E., Lange M.:
      Dlugoterminowe leczenie łuszczycy Cyklosporyną A (Sandimmun Neoral).
      Abstracts: XXVI Zjazd PTD, Warszawa, 24-27.09.1998, str. 108.
    </li>
    <li>
      Roszkiewicz J., Grubska-Suchanek E., Szczerkowska-Dobosz A., Lange M.:
      Cyklosporyna A w łuszczycy i innych dermatozach .Abstracts: XXVI Zjazd PTD
      Warszawa, 24-27.09. 1998, str. 245.
    </li>
    <li>
      Szczerkowska-Dobosz A., Grubska-Suchanek E., Roszkiewicz J.:
      Porównanie skuteczności CyA   w leczeniu łuszczycy typu I i II –
      doniesienie wstępne. Abstracts: XXVI Zjazd PTD Warszawa, 24-27.09.
      1998, str. 247.
    </li>
    <li>
      Kurek M., Grubska-Suchanek E.: Próby prowokacji dodatkami spożywczymi
      i aspiryną w rozpoznawaniu przewlekłej pokrzywki. Materiały zjazdowe
      I Pomeranian Congres, Alergia , Astma, Immunologia, 1999, 4, 61-62.
    </li>
    <li>
      Grubska-Suchanek E., Kurek M.: Challenge tests with food additives
      and aspirin in patients with chronic urticaria – a case of immediate
      cutaneous hypersiensitivity to sodium bisulfate (E-222) confirmed
      by path testing. Allergol. Grundlagen Diagnostic und Therapie fur
      Pratis und Klinik, 23, vol. 8, 2000, 425-426. / Fortschritte
      der Allergologie Immunol. und Dermatologie Davos, 13-16.IX.2000r./.
    </li>
    <li>
      Sztaba-Kania M., Gleń J., Grubska-Suchanek E., Placek W.,
      Roszkiewicz J.: Zastosowanie nabłonka przejściowego pęcherza
      moczowego szczura do wykrywania autoprzeciwciał występujących u
      chorych na pęcherzycę paraneoplastyczną (doniesienie wstępne).
      Pamiętnik X Jubileuszowego Zjazdu Polskiego Towarzystwa
      Immunologii Doświadczalnej i Klinicznej, str. 33. Poznań, 27-28. 09.2000.
    </li>
    <li>
      Grubska-Suchanek E., Nowicki R.: Rola leukotrienów w dermatologii,
      Sympozjum Sekcji Alergologicznej PTD, Jurata, 11-14.05.2000r.
    </li>
    <li>
      Grubska-Suchanek E., Siedlewicz A.: Alergia kontaktowa na metale -
      wczoraj i dziś. VII Zjazd Polskiego Towarzystwa Alergologicznego,
      Łódź, 27-30.08.2000r.
    </li>
    <li>
      Grubska-Suchanek E., Siedlewicz A.: Niepożądane reakcje polekowe
      jako przyczyna hospitalizacji w Klinice Dermatologicznej AMG w
      latach 1996-2000; XXVII Zjazd PTD, Wrocław, 21-24.06.2001.
    </li>
    <li>
      Wilkowska A., Grubska-Suchanek E., Gołębiowska A.: Alergia
      kontaktowa u dzieci w latach 1992-2000.V Sympozjum Sekcji
      Dermatologii Dziecięcej, Mikołajki 25-28.04. 2002r.
    </li>
    <li>
      Grubska-Suchanek E., Gołebiowska A.: Wyprysk kontaktowy w
      makroregionie gdańskim – najczęstsze alergeny kontaktowe. IX
      Konferencja Środkowo-Europejska, Łódź, 12-15.06.2002r.
    </li>
    <li>
      Gołębiowska A., Grubska-Suchanek E.: Składniki gumy jako
      przyczyna wyprysku kontaktowego w makroregionie gdańskim. IX
      Konferencja Środkowo-Europejska, Łódź, 12-15.06.2002r.
    </li>
    <li>
      Grubska-Suchanek E., Siedlewicz A.: Reakcje niepożądane wywołane
      aspiryną i nslpz  w materiale Kliniki Dermatologii, Wenerologii i
      Alergologii AM w Gdańsku w latach 1996-2002, Dermatologia kliniczna,
      2003, 3, 159.
    </li>
    <li>
      Kurek M., Grubska-Suchanek E.: Znaczenie nadwrażliwości pokarmowej w
      pokrzywce. Dermatologia kliniczna, 2003, 3, 126.
    </li>
    <li>
      Grubska-Suchanek E.: Przegląd substancji bioaktywnych stosowanych w
      Preparatach   przeciwłupiezowych. Dermatologia estetyczna, suplement,
      czerwiec 2003, 48.
    </li>
    <li>
      Grubska-Suchanek E., Siedlewicz A.: Alergia na antybiotyki beta-laktamowe
      – obraz zmian skórnych (w oparciu o materiał Kliniki Dermatologii,
      Wenerologii i Alergologii AM w Gdańsku w latach 1996-2003. Przegląd
      Dermatologiczny, numer specjalny 2004, 91, 241.
    </li>
    <li>
      Grubska-Suchanek E.: Alergia na antybiotyki beta-laktamowe Postępy
      Dermatologii i Alergologii, suplement 2005, 12.
    </li>
    <li>
      Śpiewak R, Grubska-Suchanek E, Pasnicki M, Krakowski A,
      Cisowska A: Contact allergy and allergic contact dermatitis in
      children and adolescents with chronic eczema. EAACI
      Congress 2012 Genewa.
    </li>
        <li>
      Śpiewak R, Gregorius A, Grubska-Suchanek E, Cisowska A, Jędrzejewska-Jurga 
      K, Paśnicki M, Krakowski A, Cendrowska-Pinkosz M, Sznelewski P, Olszanski
      R. KRAK: first multi-centre study of the new Polish baseline series. Contact 
      Dermatitis. 2012;66(Suppl 2):55.
    </li>
    <li>
      Śpiewak R, Grubska-Suchanek E, Cisowska A, Jędrzejewska-Jurga K, Paśnicki M, 
      Raduszewska Z, Balicka V, Olszanski R, Gregorius A, Sznelewski P. Contact 
      allergies in patients with hand eczema: KRAK study results. Contact Dermatitis. 2012;66(Suppl 2):74.
    </li>
    <li>
      Śpiewak R, Grubska-Suchanek E, Paśnicki M, Krakowski A, Cisowska A. Contact allergy and 
      allergic contact dermatitis in children and adolescents with chronic eczema. 
      Allergy. 2012;67(Suppl 96):472.
    </li>
    <li>
      Śpiewak R, Gregorius A, Grubska-Suchanek E, Cisowska A, Jędrzejewska-Jurga K, 
      Paśnicki M, Krakowski A, Cendrowska-Pinkosz M. Wyniki wieloośrodkowych badań 
      nad alergią kontaktową z zastosowaniem Polskiej Serii Podstawowej. Przegl Dermatol. 2012;99(4):343.
    </li>
    <li>
      Śpiewak R. KRAK2: the phase 2 multicentre collaborative study putting together allergists and 
      dermatologists to work for an improved Polish baseline series for patch testing. Allergy. 2013;68(Suppl 97):658.
    </li>
    <li>
      Śpiewak R, Samochocki Z, Paśnicki M, Czarnobilska E, Grubska-Suchanek E, Bukiel M, Jędrzejewska-Jurga K, Czarnecka-Operacz M, 
      Cisowska A, Niklasson B. Detection of contact allergy to palladium: sodium tetrachloropalladate is 
      better than palladium chloride. Allergy. 2014;69(s99):44-5.
    </li>
    <li>
      Śpiewak R, Samochocki Z, Paśnicki M, Czarnobilska E, Grubska-Suchanek E, Bukiel M, Jędrzejewska-Jurga K,  
      Czarnecka-Operacz M, Cisowska A, Niklasson B. Methylisothiazolinone/methylchloroisothiazolinone and 
      formaldehyde: petrolatum-based patch tests detect more sensitizations. Contact Dermatitis. 2014;70(Suppl. 1):60-1.
    </li>
  </ol>
</div>