<h2 class="subtitle">OFERTA</h2>
<div class="row">
  <div class="medium-12 columns">
    <div class="extender">
      <h4 class="ext-title"><strong>Konsultacje i porady dermatologiczne</strong></h4>
      <div class="ext-content">
        <ul class="usluga">Rozpoznawanie i leczenie chorób skóry:
          <li>choroby ropne</li>
          <li>grzybice</li>
          <li>choroby wirusowe</li>
          <li>choroby pasożytnicze</li>
          <li>łuszczyca, przyłuszczyca, liszaj płaski</li>
          <li>nowotwory</li>
          <li>trądzik, łojotokowe zapalenie skóry</li>
          <li>choroby rumieniowe</li>
          <li>choroby pęcherzowe</li>
          <li>choroby tkanki łącznej</li>
          <li>fotodermatozy</li>
          <li>choroby naczyniowe</li>
        </ul>
      </div>
      <h4 class="ext-title"><strong>Konsultacje i porady alergologiczne</strong></h4>
      <div class="ext-content">
        <ul class="usluga">Rozpoznawanie i leczenie alergicznych schorzeń skóry:
          <li>atopowe zapalenie skóry</li>
          <li>wyprysk kontaktowy</li>
          <li>pokrzywka</li>
          <li>niepożądane odczyny polekowe</li>
        </ul>
      </div>
      <h4 class="ext-title"><strong>Diagnostyka alergologiczna</strong> (w Centrum Derm-al)</h4>
      <div class="ext-content">
        <ul class="usluga">Rozpoznawanie i leczenie alergicznych schorzeń skóry:
          <li>testy punktowe (prick) z alergenami powietrznopochodnymi i pokarmowymi</li>
          <li>testy płatkowe (naskórkowe) z alergenami kontaktowymi (zestaw 30 alergenów – standard europejski)</li>
        </ul>
      </div>
    </div>
    <div class="extender">
      <h4 class="ext-title"><strong>Dermatologia zabiegowa i estetyczna</strong> (w Centrum Derm-al / Derm-al Beauty)</h4>
      <div class="ext-content">
        <ul class="usluga">
          <li>laseroterapia zmian naczyniowych skóry</li>
          <li>krioterapia</li>
          <li>elektrokoagulacja</li>
          <li>mikrodermabrazja</li>
          <li>peelingi medyczne</li>
          <li>mezoterapia skóry gładkiej i owłosionej</li>
          <li>usuwanie przebarwień skóry (Cosmelan, Dermamelan)</li>
          <li>wypełnianie zmarszczek kwasem hialuronowym</li>
          <li>usuwanie zmarszczek mimicznych toksyną botulinową</li>
        </ul>
      </div>
    </div>
    <div class="extender">
      <h4 class="ext-title"><strong>Wideodermatoskopia </strong> (w Centrum Derm-al)</h4>
      <div class="ext-content">
        <ul class="usluga">Wczesne wykrywanie raka skóry z wykorzystaniem wiodącej technologii medycznej:
          <li>zdjęcia przeglądowe skóry za pomocą medycznej kamery wideo, w celu zlokalizowania znamion</li>
          <li>zdjęcia znamion przy użyciu cyfrowego dermoskopu</li>
          <li>analiza znamion oraz ich archiwizacja</li>
          <li>wideodokumentacja</li>
        </ul>
      </div>
    </div>
  </div>
</div>